<div class="row justify-content-md-center">
  <div class="col-md-6">
    <ul class="list-group">
      {{# if messages}}
        <div class="alert alert-danger">
          {{# each messages}}
            <p>{{this}}</p>
          {{/each}}
        </div>
      {{/if}}
      <form action="/sendBestilling" method="post" id="checkout-form">
        <li class="list-group-item">
          <label for="inputStateBetaling">Vælg betalingsform</label>
          <select name="inputStateBetaling" id="inputStateBetaling" class="form-control">
            <option></option>
            <option>Online med kort</option>
            <option>Ved levering/afhentning (kontant eller mobilepay)</option>
          </select>
        </li>
        <li class="list-group-item">
          <label for="inputStateTid">Vælg tid</label>
          <select name="inputStateTid" id="inputStateTid" class="form-control">
            <option>hurtigst muligt</option>
            <option>vælg selv tid</option>
          </select>
        </li>
        <li class="list-group-item" style="display: none;" id="timePicker">
          <div>
            <label for="inputStateTidspunkt">Tidspunkt</label>
            <input name="inputStateTidspunkt" id="inputStateTidspunkt" type="text" class="form-control" placeholder="Vælg" autocomplete="false" >
          </div>
        </li>
      <li class="list-group-item">
        {{# if name}}
          <label for="inputName">Navn</label>
          <input name="inputName" id="inputName" type="text" class="form-control" value="{{name}}"/>
        {{else}}
          <label for="inputName">Navn</label>
          <input name="inputName" id="inputName" type="text" class="form-control" placeholder="indtast navn"/>
        {{/ if}}
        {{# if address}}
          <label for="inputAddress">Adresse</label>
          <input name="inputAddress" id="inputAddress" type="text" class="form-control" value="{{address}}"/>
        {{else}}
          <label for="inputAddress">Adresse</label>
          <input name="inputAddress" id="inputAddress" type="text" class="form-control" placeholder="indtast adresse"/>
        {{/ if}}
        {{# if zip}}
          <label for="inputZip">Postnummer</label>
          <input name="inputZip" id="inputZip" type="text" class="form-control" value="{{zip}}"/>
        {{else}}
          <label for="inputZip">Postnummer</label>
          <input name="inputZip" id="inputZip" type="text" class="form-control" placeholder="indtast postnummer"/>
        {{/ if}}
        {{# if city}}
          <label for="inputCity">By</label>
          <input name="inputCity" id="inputCity" type="text" class="form-control" value="{{city}}"/>
        {{else}}
          <label for="inputCity">By</label>
          <input name="inputCity" id="inputCity" type="text" class="form-control" placeholder="indtast by"/>
        {{/ if}}
        {{# if phone}}
          <label for="inputPhone">telefonnummer</label>
          <input name="inputPhone" id="inputPhone" type="text" class="form-control" value="{{phone}}"/>
        {{else}}
          <label for="inputPhone">telefonnummer</label>
          <input name="inputPhone" id="inputPhone" type="text" class="form-control" placeholder="indtast telefonnummer"/>
        {{/ if}}
      </li>
      <div id="buttons">
          <script
            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="pk_test_Gu5S5PbCNct5pXLa8UZnhXQM"
            data-label="Betal med kort"
            data-email="{{email}}"
            data-amount="{{stripePrice}}"
            data-name="Sorring Pizza"
            data-description="tamertech"
            data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
            data-locale="auto"
            data-currency="dkk">
          </script>
          <input id="btnSend" type="submit" class="btn btn-secondary" value="Send bestilling"/>
      </div>
    </ul>
  </form>
  </div>
</div>


{{#section 'script'}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
<script>
    let deliveryTime = {{delTime}};
    let pickupTime = {{pickTime}};
    var socket = io.connect();
    socket.on('connected', function(data){
    console.log(data.connected)
  });
</script>
  <script type="text/javascript" src="/javascript/bestilling_script.js"></script>
{{/section}}
