{{# if products}}
  <div class="row row justify-content-md-center">
    <div class="col-md-6">
      <ul class="list-group">
        {{# if messages}}
          <div class="alert alert-danger">
            {{# each messages}}
              <p>{{this}}</p>
            {{/each}}
          </div>
        {{/if}}
          <li class="list-group-item">
            <h5>Vælg levering / Afhentning</h5>
            <div class="dropdown float-left">
              <button class="btn btn-default dropdown-toggle" type="button" id="dropdownDelTypeButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ delType }}
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownDelTypeButton">
                <a class="dropdown-item" href="/delType/LEVERING">Levering +30kr</a>
                <a class="dropdown-item" href="/delType/AFHENTNING/{{this._id}}">Afhentning</a>
              </div>
            </div>
            <input id="pickupDelivery" name="pickupDelivery" hidden type="text" value=""  />
          </li>
          {{# each products}}
              <li class="list-group-item">
                <strong>{{ this.qty}} x {{ this.item.title }}</strong>
                <span class="label label-success">{{this.price}} kr</span>
                <div class="float-right">
                  <div class="dropdown float-left">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      +
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      {{# each ../toppings}}
                        <p>
                          <a class="dropdown-item" href="/add-topping/{{../this.cartId}}/{{this._id}}">{{this.title}}</a>
                        </p>
                      {{/ each}}
                    </div>
                  </div>
                  <a href="/remove/{{this.cartId}}" class="btn btn-add" role="button">X</a>
                </div>
                <ul class="toppingsul">
                  {{# each this.toppings}}
                    <li>
                      <p class="toppingsP">+ {{this.title}} {{this.price}} kr <a href="/remove/{{../this.cartId}}/{{this.id}}" class="btn btn-remove-topping" role="button">X</a></p>
                    </li>
                  {{/ each}}
                </ul>
              </li>
          {{/ each}}
      </ul>
    </div>
  </div>
  <hr />
  <div class="row row justify-content-md-center">
    <div class="col-md-6">
      <strong>Total: {{ totalPrice }}kr</strong>
    </div>
  </div>
  <div class="row row justify-content-md-center">
    <div class="col-md-6">
      <a href="/bestilling" class="btn btn-success" role="button">Videre til bestilling</a>
    </div>
  </div>
  {{else}}
  <div class="row row justify-content-md-center">
    <div class="col-md-6">
      <h2>Ingen varer i kurv</h2>
    </div>
  </div>
{{/ if}}

{{#section 'script'}}
  <script type="text/javascript" src="/javascript/cart_script.js"></script>
{{/section}}
